# Dependências
node_modules/

# Compilações
dist/
build/
*.tsbuildinfo

# Variáveis privadas
.env
.env.*
!.env.example

# Testes
coverage/

# Logs
*.log
npm-debug.log*

# Editores e sistema
.vscode/
.DS_Store
Thumbs.db

# Prisma Client gerado
apps/api/generated/