PORT=3333

DATABASE_HOST="localhost"
DATABASE_PORT="3306"
DATABASE_USER="USUARIO"
DATABASE_PASSWORD="SENHA"
DATABASE_NAME="BANCO"
SHADOW_DATABASE_NAME="BANCO_SHADOW"

ADMIN_IDENTIDADE="IDENTIDADE"
ADMIN_NOME_COMPLETO="NOME"
ADMIN_NOME_GUERRA="NOME_DE_GUERRA"
ADMIN_POSTO_GRADUACAO="POSTO_OU_GRADUACAO"
ADMIN_EMAIL="EMAIL"
ADMIN_INITIAL_PASSWORD="SENHA_INICIAL"
ADMIN_SUBUNIDADE_SIGLA="SIGLA"
ADMIN_SUBUNIDADE_NOME="SUBUNIDADE"