PORT=3333

DATABASE_HOST="localhost"
DATABASE_PORT="3306"
DATABASE_USER="USUARIO"
DATABASE_PASSWORD="SENHA"
DATABASE_NAME="BANCO"
SHADOW_DATABASE_NAME="BANCO_SHADOW"

ADMIN_IDENTIDADE="IDENTIDADE"
ADMIN_NOME_COMPLETO="NOME"
ADMIN_NOME_GUERRA="NOME_DE_GUERRA"
ADMIN_POSTO_GRADUACAO="POSTO_OU_GRADUACAO"
ADMIN_EMAIL="EMAIL"
ADMIN_INITIAL_PASSWORD="SENHA_INICIAL"
ADMIN_SUBUNIDADE_SIGLA="SIGLA"
ADMIN_SUBUNIDADE_NOME="SUBUNIDADE"

JWT_ACCESS_SECRET="SEGREDO_COM_PELO_MENOS_32_CARACTERES"

REFRESH_TOKEN_DAYS="7"

VITE_NOME_OM="NOME DA ORGANIZAÇÃO MILITAR"
VITE_COMANDANTE_OM="POSTO E NOME DO COMANDANTE"